version: "3.9"

services:

  redis:
    image: redis:alpine
    container_name: nextcloud_redis
    command: redis-server --requirepass changeme    # change this
    restart: always
    environment:
      REDIS_HOST_PASSWORD: changeme      # change this 
    networks:
      - nginx_proxy

  postgres:
    image: postgres:16
    container_name: nextcloud_postgres
    restart: always
    environment:
      POSTGRES_DB: nextcloud
      POSTGRES_USER: ncuser              # change this 
      POSTGRES_PASSWORD: changeme        # change this 
    volumes:
      - ./postgres:/var/lib/postgresql/data
    networks:
      - nginx_proxy         # change this 

  nextcloud:
    image: nextcloud:apache
    container_name: nextcloud_app
    restart: always
    depends_on:
      - postgres
      - redis
    ports:
      - "8089:80"   # <-- Works now because Apache serves port 80
    environment:
       POSTGRES_HOST: postgres
       POSTGRES_DB: nextcloud
       POSTGRES_USER: ncuser             # change this 
       POSTGRES_PASSWORD: changeme       # change this 

       REDIS_HOST: redis
       REDIS_HOST_PASSWORD: changeme      # change this 
    volumes:
      - ./nextcloud:/var/www/html
    networks:
      - nginx_proxy            # change this 

networks:
  nginx_proxy:
    external: true
